<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ayodagang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ayodagang"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ayodagang"
        android:supportsRtl="true"
        android:theme="@style/Theme.AyoDagang">
        <activity
            android:name=".PlaLogin"
            android:exported="false" />
        <activity
            android:name=".DetailProduk"
            android:exported="false" />
        <activity
            android:name=".ListProduk"
            android:exported="false" />
        <activity
            android:name=".CategoryShop"
            android:exported="false" />
        <activity
            android:name=".CategoryElectronic"
            android:exported="false" />
        <activity
            android:name=".CategoryClothing"
            android:exported="false" />
        <activity
            android:name=".CategoryGander"
            android:exported="false" />
        <activity
            android:name=".RegisterBarang"
            android:exported="false" />
        <activity
            android:name=".RegisterStaff"
            android:exported="false" />
        <activity
            android:name=".LoginUser"
            android:exported="false" />
        <activity
            android:name=".Login1Activity"
            android:exported="false" />
        <activity
            android:name=".Staff"
            android:exported="false" />
        <activity
            android:name=".Admin"
            android:exported="false" />
        <activity
            android:name=".LoginStaff"
            android:exported="false" />
        <activity
            android:name=".CheckLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>